.left-col{
    background: #FC4A1A;
    color: #FFFFFF;
}
@media (min-width: 640px) {
    .h1-class{
        margin-top: 25% !important;
    }
    .logo-class {
        margin-top:75% !important;
    }

}

@media (max-width: 640px) {
    .h1-class{
        margin-top: 5% !important;
    }

}
.media-margin{
    margin: 5%;
}

.landing-col{
    z-index: -1;
    padding: 5%;
}

.button-orange {
    margin-top: 2% !important;
    border-radius: 20px !important;
    width: 40% !important;
    border: 3px solid #FC4A1A !important;
    color: #FC4A1A !important;
    background: #FFFFFFFF !important;
}