.date-picker{
   
}

.react-date-picker__wrapper{
    border: none !important;
}

.react-date-picker__inputGroup__year{
    width: 10px !important;
}

.birthday-button{
    margin-top: 5px !important;
}